<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<style>
    .center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<head><div layout:fragment="metadata" th:remove="tag">
    <title>Rate Your Teacher</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <div style="margin: 2%; color:Black;">
        <div align="center">
            <h1 style="color:Black;" class="row justify-content-md-center">Rate your teacher!</h1>
            <a href="/Database/personcreate/" class="row justify-content-md-center">Add Rating</a>
            <br/><br/>

            <table border="1" cellpadding="10" class="center">
                <thead>
                <tr style="color:Black;">
                    <th>Class</th>
                    <th>Teacher</th>
                    <th>Rating</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody style="color:Black;">
                <tr th:each="person : ${list}">
                    <td th:text="${person.teacher_class}" >Class</td>
                    <td th:text="${person.teacher_name}" >Name</td>
                    <td th:text="${person.rating}" >Rating</td>

                    <td style="color:Black;" >
                        <a th:href="@{/Database/personupdate/{id}(id = ${person.id})}">Update</a>
                        <a th:href="@{/Database/persondelete/{id}(id = ${person.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div></body>

</html>