<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<style>
    table {
        margin-left: auto;
        margin-right: auto;
    }

</style>


<head><div layout:fragment="metadata" th:remove="tag">
    <title>My Collection</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <div style="margin: 2%; color:Black;">
        <div align="center">
            <h1 style="color:Black;" class="row justify-content-md-center">My Collection</h1>
            <a href="/Database/personcreate/" class="row justify-content-md-center">Add Game</a>
            <br/><br/>

            <table border="1" cellpadding="10" class="center">
                <thead>
                <tr style="color:Black;">
                    <th>Game</th>
                    <!--<th>Teacher</th>-->
                    <th>Rating</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody style="color:Black;">
                <tr th:each="person : ${list}">
                    <td th:text="${person.teacher_class}" >Game</td>
<!--                    <td th:text="${person.teacher_name}" >Name</td>-->
                    <td th:text="${person.rating}" >Rating</td>

                    <td style="color:Black;" >
                        <a th:href="@{/Database/personupdate/{id}(id = ${person.id})}">Update</a>
                        <a th:href="@{/Database/persondelete/{id}(id = ${person.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-md-center" >
        <table class="table" style="color:white;">
            <tr th:each="person : ${list}">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h6 class="card-text" th:text="${person.teacher_class}"></h6>
                            <p class="card-text" th:text="${person.rating}"></p>
                                <a th:href="@{/Database/personupdate/{id}(id = ${person.id})}" class="card-link">Update</a>
                                <a th:href="@{/Database/persondelete/{id}(id = ${person.id})}" class="card-link">Delete</a>
                        </div>
                    </div>
                </div>
            </tr>
        </table>
    </div>

</div>
</body>
</html>