<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <!-- Start of head content specific to page -->
        <title>About Crystal</title>

        <!-- End of head content specific to page -->
    </div>
</head>
<style type="text/css">
    html body {
        background-color: #05c4c4 !important;
    }

</style>

<body>
<div layout:fragment="content" th:remove="tag" style="color:white;">


    <script>
        function imagefun() {
            var Image_Id = document.getElementById('getImage');
            if (Image_Id.src.match("../images/crystal1.png")) {
                Image_Id.src = "../images/crystal2.png";
            }
            else {
                Image_Id.src = "../images/crystal1.png";
            }
        }
    </script>
    <!--Title-->
    <div class="row justify-content-md-center" >
    </div>
    <!--Changing Picture-->
    <div class="row justify-content-md-center" >
        <div style=" left: auto; top: 40px;">
            <img th:src="@{/images/crystal1.png}" width="auto" height="200" onclick="imagefun()" id="getImage"; />
        </div>
    </div>
    <!--Links-->
    <div class="contact row justify-content-md-center">
        <button type="button" class="block" onclick="window.location.href='https://docs.google.com/document/d/1eNAFiMXSAhTSycT7F8P9LFNIAcMdiNYvlRvJmdhxZr4/edit#heading=h.8u2g70w2xzdu';">
            Journal
        </button>
        <button type="button" class="block" onclick="window.location.href='https://github.com/florayuan18/pikachudrinkingwindex/projects/1?card_filter_query=assignee%3Acrystalwidjaja';">
            Scrum Board
        </button>
        <button type="button" class="block" onclick="window.location.href='https://github.com/florayuan18/pikachudrinkingwindex/commits?author=crystalwidjaja';">
            Commits
        </button>
        <button type="button" class="block" onclick="window.location.href='https://github.com/crystalwidjaja';">
            Profile
        </button>
    </div>

    </tr>
    </table>

    <!--FRQ UNIT 2-->
    <div class="row justify-content-md-center" style="color:white;">
        <h3 class="text-center">FRQ UNIT 2</h3>

    </div>
    <th:block th:each="binary: ${binary}" style="color:white;">
        <div class="row justify-content-md-center" style="color:white;" >
            <form action="/aboutcrystal">
                <TABLE>
                    <TD>
                        <label for="seq">What sequence?</label>
                        <input name="seq" id="seq">
                        <p th:text="${binary}"></p>
                    </TD>
                    <TD>
                        <label for="changeSeq">Change the sequence?</label>
                        <input name="changeSeq" id="changeSeq">
                        <p th:text="${binaryC}"></p>
                    </TD>
                    <TD>
                        <label for="insertSeq">Insert Sequence and where?</label>
                        <input name="insertSeq" id="insertSeq">
                        <input name="insertSeqLoc" id="insertSeqLoc">
                        <p  th:text="${binaryI}"></p>

                    </TD>
                    <TD>

                        <label for="removeSeq">Remove sequence?</label>
                        <input name="removeSeq" id="removeSeq">
                        <p  th:text="${binaryR}"></p>
                    </TD>
                    <TD>
                        <label for="xDist">Calculate Distance? X and Y distance</label>
                        <input name="xDist" id="xDist">
                        <input name="yDist" id="yDist">
                        <p  th:text="${distXY}"></p>
                    </TD>
                </TABLE>
                <div class="row justify-content-md-center" >
                    <input type="submit" value="Submit">
                </div>



            </form>

        </div>
        <br>

        <div class="row justify-content-md-center" style="color:white;">
            <h3 class="text-center">FRQ UNIT 3</h3>

        </div>
        <br>

        <form class="form-inline" role="form" action="/aboutcrystal">
            <div class="row justify-content-md-center">
                <div class="form-group mx-sm-3 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="attendance" name="attendance" value="true">
                        <label class="form-check-label" for="attendance" style="color:white;">
                            Attending?
                        </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="number" class="form-control" id="food" name="food" placeholder="type 1,2,3,OR 4">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </div>
        </form>
        <p style="color:white;"> ORDER OPTIONS: (1) Chocolate, (2) Vanilla, (3) Strawberry, (4) Caramel </p>
        <p style="color:white;"><b>Message: </b><span th:text="${message}"></span> </p>
        <br>
        <hr>

        <br>

        <div class="row justify-content-md-center" style="color:white;">
            <h3 class="text-center">FRQ UNIT 4</h3>

        </div>
        <br>

        <form class="form-inline" role="form" action="/aboutcrystal" style="color:white;">
            <div class="row justify-content-md-center">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="word" name="word" placeholder="enter word">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Get Streak Info</button>
            </div>
        </form>
        <p style="color:white;"><b>Streak Info: </b><span th:text="${streakInfo}"></span></p>
        <br>
        <hr>

        <p style="color:white;">API to find your coordinates</p>

        <button onclick="getLocation()">Try It</button>

        <p id="demo"></p>

        <script>
            var x = document.getElementById("demo");

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                x.innerHTML = "Latitude: " + position.coords.latitude +
                    "<br>Longitude: " + position.coords.longitude;
            }
        </script>

</div>






</div>
</div>

</div>
</body>

</html>