<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>About Kira</title>
  <!-- End of head content specific to page -->

  <script>
    function imagefun() {
      var Image_Id = document.getElementById('getImage');
      if (Image_Id.src.match("../images/kira.png")) {
        Image_Id.src = "../images/kira_greywater.png";
      }
      else {
        Image_Id.src = "../images/kira.png";
      }
    }
  </script>
</div></head>

<body style="background-color:lightgreen;"><div layout:fragment="content" th:remove="tag">
<!--  <table>-->
<!--  <td th:text="${aboutkira.content}">Rank</td>-->
<!--  </table>-->
  <div style=" left: auto; top: 40px;">
    <img th:src="@{/images/kira.png}" width="auto" height="200" onclick="imagefun()" id="getImage"; />
  </div>

  <div class="contact row justify-content-md-center">
    <button type="button" class="block" onclick="window.location.href='https://docs.google.com/document/d/1Z3TToryEbC6EhNMEnVD3aBqpBPHM4CEq_jDYc56mHU4/edit?usp=sharing';">
      Journal
    </button>
    <button type="button" class="block" onclick="window.location.href='https://github.com/florayuan18/pikachudrinkingwindex/projects/1?card_filter_query=assignee%3Acrystalwidjaja';">
      Scrum Board
    </button>
    <button type="button" class="block" onclick="window.location.href='https://github.com/florayuan18/pikachudrinkingwindex/graphs/contributors';">
      Commits
    </button>
    <button type="button" class="block" onclick="window.location.href='https://github.com/4disease';">
      Profile
    </button>
  </div>

  <pre style="background-color:lightgreen;"><code>
  public class LightSequence {
  String sequence = "";

  public LightSequence(String seq)
  {
  sequence = seq;
  }

  public void display(){
  System.out.println("The light sequence is " + this.sequence);
  }

  public void changeSequence(String seq)
  {
  this.sequence = seq;
  }

  public String insertSegment(String segment, int ind)
  {
  String newSequence = this.sequence.substring(0, ind + 1)
  + segment
  + this.sequence.substring(ind + 1);

  return newSequence;

  }

  public static String newSequence(String oldSeq, String segment){
  int index = oldSeq.indexOf(segment);
  String newSeq = oldSeq.substring(0, index) + oldSeq.substring(index + segment.length());

  return newSeq;
  }

  public static int squareRoot(double a, double b){
  double root = (Math.sqrt(a*a + b*b));
  return (int)root;
  }

  public static void main(String args[])
  {
  LightSequence gradshow = new LightSequence("0101 0101 0101");
  gradshow.display();

  gradshow.changeSequence("0011 0011 0011");
  gradshow.display();

  System.out.println(gradshow.insertSegment("1111 1111", 4));
  System.out.println(newSequence("1100000111", "11"));
  System.out.println(squareRoot(4, 0));
  }
  }
</code></pre>

  <a style="background-color:lightgreen;" th:text="${returnString}">Code Run</a>


</div>
</body>

</html>
