<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
</head>

<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar navbar-expand-lg dark-nav" th:fragment="header">
        <a class="navbar-brand">
            <img onClick="location.href='https://www.amazon.com/Windex-Cleaner-Trigger-Bottle-Original/dp/B01GFLZ0WU'" src="/static/images/PikachuDrinkingWindex.jpg" th:src="@{/images/PikachuDrinkingWindex.jpg}" width="50" height="50" class="d-inline-block align-center " alt="" style="border-radius: 50%;">
            <a class="titlehead" style="padding-right:20px;">Umbrella Box</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div  class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only" >(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/search">Search <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/recommendations">Recommendations <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Database/person">My Collection <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://blog.umbrellabox.cf/">Blog</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/quiz">Quiz</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/aboutus">About Us <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <div class="custom-control custom-switch">
                <input type="checkbox" onchange="toggleTheme()" class="custom-control-input" id="slider">
                <label class="custom-control-label bodytext" for="slider">Light Mode</label>
            </div>
        </div>

        <script>
            function setTheme(themeName) {
                localStorage.setItem('theme', themeName);
                document.documentElement.className = themeName;
            }

            // function to toggle between light and dark theme
            function toggleTheme() {
                if (localStorage.getItem('theme') === 'theme-dark') {
                    setTheme('theme-light');
                } else {
                    setTheme('theme-dark');
                }
            }

            // Immediately invoked function to set the theme on initial load
            (function () {
                if (localStorage.getItem('theme') === 'theme-dark') {
                    setTheme('theme-dark');
                    document.getElementById('slider').checked = false;
                } else {
                    setTheme('theme-light');
                    document.getElementById('slider').checked = true;
                }
            })();
        </script>

    </nav>
</body>

</html>