<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
</head>



<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar navbar-expand-lg dark-nav" th:fragment="header">
        <a class="navbar-brand">
            <img onClick="location.href='https://www.amazon.com/Windex-Cleaner-Trigger-Bottle-Original/dp/B01GFLZ0WU'" src="/static/images/PikachuDrinkingWindex.jpg" th:src="@{/images/PikachuDrinkingWindex.jpg}" width="50" height="50" class="d-inline-block align-center " alt="" style="border-radius: 50%;">
            <a class="titlehead" style="padding-right:20px;">Umbrella Box</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div  class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only" >(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/search">Search <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/recommendations">Recommendations <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/person">Ratings <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/loginTest">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://blog.umbrellabox.cf/">Blog</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/quiz">Quiz</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/aboutus">About Us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <!--search bar html-->
                    <div class="px-3">
                        <input id="search" type="search" placeholder="Search" aria-label="Search">
                    </div>
                </li>

            </ul>

            <div class="custom-control custom-switch">
                <input type="checkbox" onchange="toggleTheme()" class="custom-control-input" id="slider">
                <label class="custom-control-label bodytext" for="slider">Light Mode</label>
            </div>
        </div>

        <script>
            //Search Bar
            const search = document.getElementById('search');
            const google = 'https://www.google.com/search?q=site%3A+';
            const site = 'http://umbrellabox.cf';

            function submitted(event) {
                if (event.key === 'Enter') {
                    const reduction = 0.66;  // reduce by 66%
                    const w = Math.trunc(window.innerWidth*reduction);
                    const h = Math.trunc(window.outerHeight*reduction);
                    const l = Math.trunc(window.top.screenX + ((window.innerWidth - w)/2));
                    const t = Math.trunc(window.top.screenY + ((window.outerHeight - h)/2));
                    const left = "left=" + l;
                    const top = "top=" + t;
                    const width = "width=" + w;
                    const height = "height=" + h;
                    const location = left + ", " + top + ", " + width + ", " + height

                    // setup and display window
                    event.preventDefault();
                    const url = google
                        + site
                        + '+'
                        + search.value;
                    const win = window.open(url, "CompSci A Search", location);
                    win.focus();
                }
            }
            search.addEventListener('keypress', submitted);


            function setTheme(themeName) {
                localStorage.setItem('theme', themeName);
                document.documentElement.className = themeName;
            }


            // function to toggle between light and dark theme
            function toggleTheme() {
                if (localStorage.getItem('theme') === 'theme-dark') {
                    setTheme('theme-light');
                } else {
                    setTheme('theme-dark');
                }
            }

            // Immediately invoked function to set the theme on initial load
            (function () {
                if (localStorage.getItem('theme') === 'theme-dark') {
                    setTheme('theme-dark');
                    document.getElementById('slider').checked = false;
                } else {
                    setTheme('theme-light');
                    document.getElementById('slider').checked = true;
                }
            })();
        </script>

    </nav>
</body>

</html>