<!DOCTYPE HTML>

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<div layout:fragment="metadata">

  <title>About Crystal
  </title>

  <style type="text/css">
    h2 {
      text-align: center;
      font-size: 30px;
    }
    img#getImage {
      width: 300px;
      height: auto;
      border: 4px solid #a1a1a1;
    }
    div {
      text-align: center;
    }
  </style>
  <script>
    function imagefun() {
      var Image_Id = document.getElementById('getImage');
      if (Image_Id.src.match("images/crystal1.png")) {
        Image_Id.src = "images/crystal2.png";
      }
      else {
        Image_Id.src = "images/crystal1.png";
      }
    }
  </script>
</div>
<div layout:fragment="content">
    <div>
        <img th:src="@{/images/crystal1.png}" id="getImage">

    </div>
    <div>
      <input type="button" onclick="imagefun()" value="Change Image">
    </div>
    <div class="contact">
        <button type="button" class="block" onclick="window.location.href='https://docs.google.com/document/d/1eNAFiMXSAhTSycT7F8P9LFNIAcMdiNYvlRvJmdhxZr4/edit';">
            Journal
        </button>
        <button type="button" class="block" onclick="window.location.href='https://github.com/florayuan18/pikachudrinkingwindex/projects/1?card_filter_query=assignee%3Acrystalwidjaja';">
            Scrum Board
        </button>
        <button type="button" class="block" onclick="window.location.href='https://github.com/florayuan18/pikachudrinkingwindex/commits?author=crystalwidjaja';">
            Commits
        </button>
        <button type="button" class="block" onclick="window.location.href='https://github.com/crystalwidjaja';">
            Profile
        </button>
    </div>

</div>
</html>