<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
    <!-- Page specific head additions -->
    <title>Video Game Database</title>
</div>

<!-- <body> -->
<div layout:fragment="content" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="container">

        <table class="table">
            <tr>
                <th>Game ID</th>
                <th>Name</th>
                <th>Release Date</th>
                <th>Rating</th>
            </tr>
            <!-- Usage of JSON object and Thymeleaf -->
            <tr th:each="results : ${results.gameList}">
                <td th:text="${results.id}"></td>
                <td th:text="${results.name}"></td>
                <td th:text="${results.released}"></td>
                <td th:text="${results.rating}"></td>
                -->
        </table>


    </div>
</div>

</html>
