<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Get the Value of Text Input Field in JavaScript</title>
</head>
<body>
<input type="text" placeholder="Username" id="userName"><br>
<input type="text" placeholder="Password" id="userPassword"><br>
<button type="button" onclick="getInputValue();">Sign In</button><br>

<script>
  var jsonInfo = `[
    {
      "first_name": "Flora",
      "last_name": "Yuan",
      "user_name": "flora9",
      "password": "1234",
      "games": ["Harry Potter", "Hermione Granger", "Ron Weasley"]
    },
    {
      "first_name": "Bob",
      "last_name": "Builder",
      "user_name": "bobthebuilder",
      "password": "5678",
      "games": ["game1", "game2", "game3"]
    },
    {
      "first_name": "Billy",
      "last_name": "Joe",
      "user_name": "JoeMa123",
      "password": "1111",
      "games": ["AAA1", "BBB2", "CCC3"]
    }
]`;
  var allUsers = JSON.parse(jsonInfo);
 // alert();

  function getInputValue(){
    // Selecting the input element and get its value
    var userName = document.getElementById("userName").value;
    var userPassword = document.getElementById("userPassword").value;

    //check whether user exists
    var bUserExists = new Boolean(false);
    var existingUser;
    for (let i = 0; i < allUsers.length; i++) {
      if (userName === allUsers[i].user_name) {
        bUserExists = true;
        existingUser = allUsers[i];
        break;
      }
    }

    if (bUserExists == false) {
      alert("Username does not exist");
    } else {
        if (userPassword === existingUser.password) {
          location.href = '/person';
        }
        else {
          alert("Wrong password L");
        }
    }

    // Displaying the value
    // alert(userName);
  }
</script>
</body>
</html>