<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Login</title>-->
<!--</head>-->
<!--<body>-->
<!--<input type="text" placeholder="Username" id="userName"><br>-->
<!--<input type="text" placeholder="Password" id="userPassword"><br>-->
<!--<button type="button" onclick="getInputValue();">Sign In</button><br>-->

<!--<script>-->
<!--    var jsonInfo = `[-->
<!--    {-->
<!--      "first_name": "Flora",-->
<!--      "last_name": "Yuan",-->
<!--      "user_name": "flora9",-->
<!--      "password": "1234",-->
<!--      "games": [{"game_name": "AtomA", "game_rating": "1"},-->
<!--                {"game_name": "Ballistic Missiles", "game_rating": "11"},-->
<!--                {"game_name": "Gunner", "game_rating": "111"}]-->
<!--    },-->
<!--    {-->
<!--      "first_name": "Bob",-->
<!--      "last_name": "Builder",-->
<!--      "user_name": "bobthebuilder",-->
<!--      "password": "5678",-->
<!--      "games": [{"game_name": "Bullet Flux", "game_rating": "2"},-->
<!--                {"game_name": "Miracle Birdy", "game_rating": "22"},-->
<!--                {"game_name": "Monsieur", "game_rating": "222"}]-->
<!--    },-->
<!--    {-->
<!--      "first_name": "Billy",-->
<!--      "last_name": "Joe",-->
<!--      "user_name": "billyJoe",-->
<!--      "password": "1111",-->
<!--      "games": [{"game_name": "Stella Starlight", "game_rating": "3"},-->
<!--                {"game_name": "Crimson", "game_rating": "33"},-->
<!--                {"game_name": "Critical Mas", "game_rating": "333"}]-->
<!--    }-->
<!--  ]`;-->
<!--    var allUsers = JSON.parse(jsonInfo);-->
<!--    // alert();-->

<!--    function getInputValue(){-->
<!--        // Select the input element and get its value-->
<!--        var userName = document.getElementById("userName").value;-->
<!--        var userPassword = document.getElementById("userPassword").value;-->

<!--        // Check if user exists-->
<!--        var bUserExists = new Boolean(false);-->
<!--        var existingUser;-->
<!--        for (let i = 0; i < allUsers.length; i++) {-->
<!--            if (userName === allUsers[i].user_name) {-->
<!--                bUserExists = true;-->
<!--                existingUser = allUsers[i];-->
<!--                break;-->
<!--            }-->
<!--        }-->

<!--        if (bUserExists == false) {-->
<!--            alert("Username does not exist");-->
<!--        } else {-->
<!--            if (userPassword === existingUser.password) {-->
<!--                sessionStorage.setItem('options', JSON.stringify(existingUser));-->
<!--                location.href = '/personTest';-->
<!--            }-->
<!--            else {-->
<!--                alert("Wrong password L");-->
<!--            }-->
<!--        }-->

<!--        // Display the value-->
<!--        // alert(userName);-->
<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->

<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Login</title>
</div>
</head>

<body style = "background-color:#2b425b; margin:auto;">
<div layout:fragment="content" th:remove="tag">

    <input type="text" placeholder="Username" id="userName"><br>
    <input type="text" placeholder="Password" id="userPassword"><br>
    <button type="button" onclick="getInputValue();">Sign In</button><br>

<!--    <div layout:fragment="content" th:remove="tag">-->
<!--        <div class="main">-->
<!--            <p class="sign titlehead" align="center">Sign in</p>-->
<!--            <form class="form1">-->
<!--                <input class="un bodytext" type="text" align="center" placeholder="Username" id="userName">-->
<!--                <input class="pass bodytext" type="password" align="center" placeholder="Password" id="userPassword">-->
<!--                <button onclick="getInputValue()" align="center">Sign In</button>-->
<!--                <p class="forgot bodytext" align="center"><a href="/register"></a>No Account? Register Here</p>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

    <script>
        var jsonInfo = `[
    {
      "first_name": "Flora",
      "last_name": "Y",
      "user_name": "florayuan18",
      "password": "1234",
      "games": [{"game_name": "Valorant", "game_rating": "percise gunplay"},
                {"game_name": "Minecraft", "game_rating": "fun"},
                {"game_name": "Gunner", "game_rating": "truly"}]
    },
    {
      "first_name": "Calvin",
      "last_name": "C",
      "user_name": "QwikSP",
      "password": "5678",
      "games": [{"game_name": "LOL", "game_rating": "lol :)"},
                {"game_name": "Fork", "game_rating": "nite"},
                {"game_name": "Call of Duty", "game_rating": "interesting at best"}]
    },
    {
      "first_name": "Kira",
      "last_name": "L",
      "user_name": "4disease",
      "password": "1111",
      "games": [{"game_name": "Stardew Valley", "game_rating": "farm"},
                {"game_name": "Pokemon Go", "game_rating": "gotta catch them all"},
                {"game_name": "Piano Tiles", "game_rating": "black and white"}]
    },
    {
      "first_name": "Crystal",
      "last_name": "W",
      "user_name": "crystalwidjaja",
      "password": "1971",
      "games": [{"game_name": "osu", "game_rating": "pressing circles"},
                {"game_name": "Minecraft", "game_rating": "oh look a block"},
                {"game_name": "Fireboy and Watergirl", "game_rating": "cool math games"}]
    },
    {
      "first_name": "Maggie",
      "last_name": "K",
      "user_name": "maggie3000",
      "password": "0459",
      "games": [{"game_name": "Candy Crush", "game_rating": "cavities"},
                {"game_name": "Hole.io", "game_rating": "yum"},
                {"game_name": "Among Us", "game_rating": "sus"}]
    }
  ]`;
        var allUsers = JSON.parse(jsonInfo);
        // alert();

        function getInputValue(){
            // Select the input element and get its value
            var userName = document.getElementById("userName").value;
            var userPassword = document.getElementById("userPassword").value;

            // Check if user exists
            var bUserExists = new Boolean(false);
            var existingUser;
            for (let i = 0; i < allUsers.length; i++) {
                if (userName === allUsers[i].user_name) {
                    bUserExists = true;
                    existingUser = allUsers[i];
                    break;
                }
            }

            if (bUserExists == false) {
                alert("Username does not exist");
            } else {
                if (userPassword === existingUser.password) {
                    sessionStorage.setItem('options', JSON.stringify(existingUser));
                    location.href = '/personTest';
                }
                else {
                    alert("Wrong password L");
                }
            }

            // Display the value
            // alert(userName);
        }
    </script>


</div>
</body>

</html>
