<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Search</title>

</div></head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h1>Games List</h1>
      <div class="row justify-content-md-center">
          <h1><strong>Search For Games!</strong></h1>
          <form action="/search">
          <label for="search">Search</label>
         <input name="search" id="search">
              <input type="submit" value="Submit">
        </form>
    </div>

</div>

<div class="row justify-content-md-center" >
    <table class="table" style="color:white;">
        <tr th:each="value: ${gameList}">

            <div class="col">
                <div class="card shadow-sm">
                    <img th:src="${value[2]}" style="margin-left:30px; max-width: 65%;">
                    <div class="card-body">
                        <p class="card-text" th:text="${value[0]}"></p>


                    </div>
                </div>
            </div>


        </tr>
    </table>
</div>
</div>
</body>

</html>