<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">


<head><div layout:fragment="metadata" th:remove="tag">
    <title>Search</title>

    <style type="text/css">

        label:after {
            content: ": ";
        }

        label {
            color: white;
            padding: 4px;
            text-transform: uppercase;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: small;
        }

    </style>
</div></head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <div class="row justify-content-md-center">
            <a class="titlehead">Search For Games!</a>
        </div>

        <div class="row justify-content-md-center" style="padding:20px;">
            <form action="/search">
                <div class="bodytext">
                    <a>Search</a>
                    <input name="search" id="search">
                    <input type="submit" value="Submit">
                </div>
                <div class="bodytext">
                    <a>Sort by:</a>
                    <a>Rating</a>
                    <input type="checkbox" id="sortby_rating" name="sortby_rating" value=true>
                    <a>Playtime</a>
                    <input type="checkbox" id="sortby_PlayTime" name="sortby_PlayTime" value=true>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
            <tr th:each="value: ${gameList}">
                <div>
                    <div class="card" style="width:300px; margin:10px;">
                        <img th:src="${value[2]}" class="card-img-top" style="height:200px;">
                        <div class="card-body">
                            <p class="card-text titlehead" th:text="${value[0]}"></p>
                            <a class="bodytext" style="text-align:left">Rating:</a>
                            <a class="card-text bodytext" th:text="${value[3]}"></a></br>
                            <a style="text-align:left" class="bodytext">Playtime (in hours): </a> 
                            <a class="card-text bodytext" th:text="${value[4]}" ></a></br>
                            <h6 class="card-text" th:text="${value[1]}"></h6>
                        </div>

                        <script>
                            ScrollReveal().reveal('.card', {
                                interval: 16,
                                reset: true,
                                useDelay: 'onload'
                            })

                        </script>
                    </div>
                </div>
            </tr>
        </table>
    </div>
</div>
</body>

</html>
© 2022 GitHub, Inc.
Terms
Privacy