<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoinGame</title>
</head>
<body>
<h3>
    Rules:
    Same rule: If both players spend the same number of coins, player 2 gains 1 coin.
    Off-by-one rule: If the players do not spend the same number of coins and the positive difference between the number of coins spent by the two players is 1, player 2 is awarded 1 coin.
    Off-by-two rule: If the players do not spend the same number of coins and the positive difference between the number of coins spent by the two players is 2, player 1 is awarded 2 coins.
</h3>


<input name="number" id="number">
</body>
</html>